---
import Layout from "../layouts/Layout.astro";
import { MapPin } from "astro-feather-icons";
import Social from "../components/Social.astro";
import BlogPost from "../components/BlogPost.astro";
import type { BlogMeta } from "../types";

const allPosts = await Astro.glob<BlogMeta>("../pages/posts/*.md");

const cyber = "https://www.uscyberpatriot.org/";
const fps = "https://www.fpspi.org/";
---

<Layout title="Safin Singh">
	<div class="big-box">
		<div id="location" class="horizontal">
			<MapPin size="1.25rem" />
			<h3>California</h3>
		</div>
		<div id="intro">
			<div>
				<h1>Hi,</h1>
			</div>
			<div>
				<h1>I'm Safin Singh</h1>
			</div>
		</div>
		<p>
			I'm a student and programmer interested in cybersecurity. I'm a 4x <a
				class="visible"
				href={cyber}>CyberPatriot</a
			> National Champion and 3x <a class="visible" href={fps}>FPS</a> International Finalist.
		</p><p>
			I love to challenge myself with difficult problems (<code>homework due yesterday</code> and
			<code>debugging Rust errors</code>, to name a few). In doing so, I've developed an aptitude
			for learning new things and simplifying their core concepts to teach them others. I love to
			build low-level *nix apps, security training tools, websites—and just about everything in
			between. I primarily write code in JavaScript (TypeScript), Rust, and C. In my free time, I
			enjoy playing tennis and listening to music.
		</p>
		<div id="socials">
			<Social link="http://github.com/safinsingh" name="GitHub" />
			<Social link="https://www.linkedin.com/in/safinsingh" name="LinkedIn" />
		</div>
	</div>
	<div class="big-box">
		<h2>Posts</h2>
		{allPosts.map((post) => <BlogPost post={post} />)}
	</div>
</Layout>

<style lang="scss">
	.horizontal * {
		display: inline-block;
		vertical-align: middle;
	}
	#location h3 {
		transform: translateY(-1px);
		margin-left: 0.25rem;
	}
	h3 {
		font-size: 1rem;
		font-weight: 600;
		margin: 0;
	}
	h1 {
		font-size: 3rem;
		font-weight: 600;
		margin: 0;
		overflow-wrap: break-word;

		@media (max-width: 576px) {
			font-size: 3rem;
		}
	}
	h2 {
		font-size: 2rem;
		font-weight: 600;
		margin: 0rem;
		margin-bottom: 1rem;
	}
	#intro {
		margin: 1rem 0rem;
		> div {
			> h1 {
				animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
			}
			overflow: hidden;
			width: max-content;
			white-space: nowrap;
			width: 100%;
		}
		:nth-child(2) > h1 {
			animation-delay: 0.1s;
		}
	}
	p {
		margin-top: 0rem;
		margin-bottom: 1rem;
	}
	p,
	a {
		font-size: 1rem;
	}

	#socials * {
		margin-right: 1rem;
	}

	ul {
		margin: 1rem 0rem;
	}

	@keyframes slide-up {
		0% {
			transform: translateY(7rem);
		}
		100% {
			transform: translateY(0);
		}
	}

	@media (max-width: 576px) {
		pre,
		code {
			font-size: 0.75rem;
		}

		body {
			padding: 1.5rem;
		}
		h1 {
			font-size: 2rem;
		}
		h2 {
			font-size: 1.5rem;
		}
		p,
		a {
			font-size: 1rem;
		}
	}
</style>
